{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ page.get_parent.get_parent.url }}">{{ page.get_parent.get_parent.title }}</a></li>
        <li class="breadcrumb-item"><a href="{{ page.get_parent.url }}"> {{ page.get_parent.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
</nav>

{{page.body}}

<h3>More in this series</h3>
<div class="list-group p-4">

    {% for related in related_pages %}

    <a href="{{ related.url }}" class="list-group-item list-group-item-action
    {% if page.title == related.title %} active {% endif %}" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ related.title }}</h5>
        </div>
        <p class="mb-1">{{ related.summary }}</p>
    </a>

    {% endfor %}
</div>

    
{% endblock content %}