{% load static %}
{% load nav_tags wagtailcore_tags wagtailimages_tags %}

{% get_menu_pages as menu %}

<footer>
    <hr>
    <div class="container fluid" id=footer-quote>
        <figure class=text-center>
            <blockquote class="blockquote">
                <p>The world is but a canvas to our imagination.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Henry David Thoreau
            </figcaption>
        </figure>
    </div>

    <div class="footer-box">
        <div class="row">
            <div class="col-sm-12 offset-2 my-4">
                {% for item in menu %}
                <ul>
                    <a href="{% pageurl item %}">{{ item.title }}</a>
                </ul>
                {% endfor %}
            </div>
        </div>


        <div class="text-center text-white p-3">
            {% if settings.site_settings.GlobalSiteSettings.site_copyright %}
            © {{settings.site_settings.GlobalSiteSettings.site_copyright}}
            {% else %}
            © 2021 Stephen Stanley

            {% endif %}
        </div>
    </div>      



</footer>
