{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <form class="row g-3" action="{% url 'search' %}" method="get">
        <div class="col-auto">
            <input type="text" class="form-control" name="query" placeholder="search" {% if search_query %} value="{{ search_query }}"{% endif %}>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary mb-3">Search</button>
        </div>
    </form>

    {% if search_results %}
    <h2>Search results</h2>
        <ul>
            {% for result in search_results %}
                <li>
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% if result.search_description %}
                        {{ result.search_description }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}
{% endblock %}
