
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color:black;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

#home-page-body{
	position:relative;
	bottom: 4em;
}


.footer-box{
	background-color: rgb(94, 94, 94);
}

.footer-box a{
	color: white;
	text-decoration: none;
}
.footer-box a:hover{
	color:rgb(210, 210, 210);
	text-decoration: none;
}
#footer-links {
	column-count: 2;
    column-width: 25%;
    column-gap: 0.25em;
}

.footer-social-icon {
  display: inline-block;
  margin-right: 1em;
}


.responsiveCal { 
position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}
.responsiveCal iframe {
position: absolute; top:0; left: 0; width: 100%; height: 100%;
}