
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color:black;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	


.footer-box{
	background-color: rgb(94, 94, 94);
}

.footer-box a{
	color: white;
	text-decoration: none;
}
.footer-box a:hover{
	color:rgb(210, 210, 210);
	text-decoration: none;
}