<footer>
    <hr>
    <div class="container fluid" id=footer-quote>
        <figure class=text-center>
            <blockquote class="blockquote">
                <p>The world is but a canvas to our imagination.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Henry David Thoreau
            </figcaption>
        </figure>
    </div>


    <div class="text-center text-white p-3" style="background-color: rgb(94, 94, 94);">
        © 2021 Copyright Willowsun:
    </div>
</footer>
