{% load static menu_tags %}
{% get_menu "header" as navigation %}

<footer>
    <hr>
    <div class="container fluid" id=footer-quote>
        <figure class=text-center>
            <blockquote class="blockquote">
                <p>The world is but a canvas to our imagination.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Henry David Thoreau
            </figcaption>
        </figure>
    </div>

    <div style="background-color: rgb(94, 94, 94);">
        <div class="row mx-lg-n3">
            <div class="px-lg-3 col-lg-3 col-md-6 col-sm-12 offset-2 my-4">
                <div class="cc-footer-title"></div>
                {% for item in navigation.menu_items.all %}
                <a class="cc-footer-link-lg d-block text-white" href="{{ item.link }}" {% if item.open_in_new_tab %}target="_blank" {% endif %}>
                    {{ item.title }}
                </a>
                {% endfor %}
            </div>
            </div>
        </div>
            <div class="text-center text-white p-3" style="background-color: rgb(94, 94, 94);">
                © 2021 Copyright Willowsun
            </div>
    </div>      



</footer>
