{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/Original on Transparent.png' %}" alt="logo" width="100" height="85">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
            {% for i in "123" %}
                <a class="nav-link" href="#">Link {{ i }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</nav>