{% extends 'base.html' %}


{% block content %}
{% load wagtailimages_tags %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="/">Products</a></li>
        <li class="breadcrumb-item"><a href="../">{{page.product.category.category_name}}</a></li>
    </ol>
</nav>

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% image page.product.product_image fill-570x370 as block_img %}
            <img src="{{ block_img.url }}" class="img-fluid rounded img-thumbnail" alt="{{ block_img.alt }}">
        </div>
        <div class="col-sm-6">
            <h1>{{ page.product.product_name}} </h1>
            <p>£    {{ page.product.price }}</p>
            <button type="button" class="btn btn-secondary">Buy</button>
        </div>
    </div>
</div>
{% endblock content %}