{% load wagtailimages_tags %}

{% image self.card_image fill-900x600 as image %}
<div class="col">
    <div class="card h-100" style="max-width: 24rem;">
        <img src="{{ image.url }}" class="card-img-top" alt="{{ image.alt }}">
        <div class="card-body d-flex flex-column">
            <h3 class="card-title text-center">{{ self.card_header }}</h3>
            <p class="card-text text-center">{{ self.card_text }}</p>
            <div class="text-end mt-auto">
                <a href="{{ self.link.url }}" class="btn btn-outline-primary stretched-link mt-auto">{{ self.button_text }} </a>
            </div>
            
        </div>
    </div>  
</div>

